<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Học Toán anh Thành - Hoàn thiện thông tin đăng ký</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/logo/favicon.ico') }}" type="image/x-icon">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/common-styles.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ template_folder }}/styles.css" type="text/css">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>
  <body>
    <section class="container">
      <header>Cập nhật thông tin</header>

      <!-- <div id="avatar">
        <img src="https://cdn-icons-png.flaticon.com/512/2233/2233922.png">
      </div> -->

      <div id="avatar-part">
          <div class="wrapper">
              <img src="{{ user['avatar'] }}" id="user-avatar">
          </div>
          <div class="camera-icon">
              <img src="{{ url_for('static', filename='assets/img/icons/camera.png') }}">
              <input type="file" accept="image/*" id="avatar-image-input" onchange="uploadAvatarImage(event)">
          </div>
      </div>

      <form action="#" class="form" id="main-form">

        <div class="input-box">
          <label>Full Name</label>
          <input type="text" id="full-name" placeholder="Enter full name" readonly />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Họ</label>
            <input type="text" id="family-name" onkeyup="showFullName()" value="{{ user['family_name'] }}"/>
          </div>
          <div class="input-box">
            <label>Tên</label>
            <input type="text" id="given-name" onkeyup="showFullName()" value="{{ user['given_name'] }}"/>
          </div>
        </div>

        <div class="gender-box">
          <div class="gender-option" id="thu-tu-hien-thi-ten-option">
            <div class="gender" onclick="showFullName()">
              <input type="radio" id="check-family_name_first" name="thu-tu-hien-thi-ten" checked />
              <label for="check-family_name_first">Hiển thị Họ trước</label>
            </div>
            <div></div>
            <div class="gender" onclick="showFullName()">
              <input type="radio" id="check-given_name_first" name="thu-tu-hien-thi-ten" />
              <label for="check-given_name_first">Hiển thị Tên trước</label>
            </div>
          </div>
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input type="email" id="email" placeholder="Enter email address" />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="number" id="phone" placeholder="Enter phone number" />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" id="dob" placeholder="Enter birth date" />
          </div>
        </div>

        <div class="gender-box">
          <h3 style="font-weight: 300;">Giới tính</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" required />
              <label for="check-male">Nam</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Nữ</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">Prefer not to say</label>
            </div>
          </div>
        </div>

        <div class="input-box address">
          <label>Address</label>
          <input type="text" id="address-line-1" placeholder="Enter street address" />
          <input type="text" id="address-line-2" placeholder="Enter street address line 2" />
          <div class="column">
            <div class="select-box">
              <select id="nation">
                <option hidden>Country</option>
                <option>Việt Nam</option>
                <option>America</option>
                <option>Japan</option>
                <option>India</option>
                <option>Nepal</option>
              </select>
            </div>
            <input type="text" id="city" placeholder="Enter your city" />
          </div>
          <div class="column">
            <input type="text" id="region" placeholder="Enter your region" />
            <input type="number" id="postal-code" placeholder="Enter postal code" />
          </div>
        </div>
        
        
        <div id="setup-info" style="margin-top: 30px;">

          <div class="gender-box">
            <h3>Bạn là: </h3>
            <div class="gender-option" id="user-type-option">
              <div class="gender" onclick="chooseUserType('')">
                <input type="radio" id="check-user_type-hv" name="user-type" required />
                <label for="check-user_type-hv">Học viên</label>
              </div>
              <div class="gender" onclick="chooseUserType('phu_huynh')">
                <input type="radio" id="check-user_type-ph" name="user-type" />
                <label for="check-user_type-ph">Phụ huynh</label>
              </div>
              <div class="gender" onclick="chooseUserType('')">
                <input type="radio" id="check-user_type-gv" name="user-type" />
                <label for="check-user_type-gv">Giảng viên</label>
              </div>
              <div class="gender" onclick="chooseUserType('')">
                <input type="radio" id="check-user_type-admin" name="user-type" />
                <label for="check-user_type-admin">Quản trị viên</label>
              </div>
            </div>
          </div>

          <div class="input-box address" id="extra-info">
            <label style="font-weight: 500;" id="extra-info-label">Lớp học của bạn:</label>
            <input type="text" placeholder="Nhập Mã lớp học của bạn" />
          </div>
          <div id="wrapper-add-more" onclick="addMoreExtraInfo('Nhập Mã lớp học của bạn')">
            <img src="{{ url_for('static', filename='assets/img/icons/add-more.png') }}" class="add-more-btn">
            <div>Thêm lớp học</div>
          </div>

        </div>

        <button>Submit</button>
      </form>
    </section>




    <img src="{{ url_for('static', filename='assets/img/icons/loading.gif') }}" id="loading-icon" style="display: none;">



    <script src="{{ url_for('static', filename='templates/common-script.js') }}"></script>
    <script>
      const redirectUrl = "{{ next | default('') }}";
      const user = {{ user | tojson | safe }};
    </script>
    <script src="{{ template_folder }}/script.js"></script>
  </body>
</html>