<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Học Toán anh Thành - Lên kế hoạch ôn thi</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/img/logo/favicon.ico') }}" type="image/x-icon">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/common-styles.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ template_folder }}/styles.css" type="text/css">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </head>
    <body>
        <!-- <header>
            <h1>Your Website Header</h1>
        </header> -->
        <main>
            <!-- <h2>Welcome to Your Website</h2> -->

            <div id="nav-pages">
                <img src="{{ url_for('static', filename='assets/img/icons/back.png') }}" class="back-icon" onclick="window.history.back()">
                <img src="{{ url_for('static', filename='assets/img/icons/home.png') }}" class="home-icon" onclick="window.location.href = '/'">
            </div>


            <div class="container">
                <h1>Trợ lý Học tập - Lên kế hoạch Ôn thi</h1>
                <form id="lessons-form">
                    <div class="form-group" id="lessons">
                        <!-- <div class="chapter">Chương 1: Khảo sát hàm số</div>
                        <div class="lesson-checkbox">
                            <input type="checkbox" id="lesson-id" name="lesson" value="Bài 1. Đạo hàm">
                            <label for="lesson-id">Bài 1. Đạo hàm</label>
                        </div>
                        <div class="lesson-checkbox">
                            <input type="checkbox" id="lesson-1" name="lesson" value="Bài 2. Đạo hàm">
                            <label for="lesson-1">Bài 2. Đạo hàm</label>
                        </div>

                        <div class="chapter">Chương 2: Khảo sát hàm số</div>
                        <div class="lesson-checkbox">
                            <input type="checkbox" id="lesson-1" name="lesson" value="Bài 1. Đạo hàm">
                            <label for="lesson-1">Bài 1. Đạo hàm</label>
                        </div>
                        <div class="lesson-checkbox">
                            <input type="checkbox" id="lesson-1" name="lesson" value="Bài 2. Đạo hàm">
                            <label for="lesson-1">Bài 2. Đạo hàm</label>
                        </div> -->
                    </div>


                    <button type="submit">Submit</button>
                </form>


                <div class="results" id="results">
                    <h2>Recommended Schedule:</h2>
                    <div id="recommended-schedule"></div>
                </div>
            </div>

        </main>
        <!-- <footer>
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer> -->




        <img src="{{ url_for('static', filename='assets/img/icons/loading.gif') }}" id="loading-icon" style="display: none;">


        <script src="{{ url_for('static', filename='templates/common-script.js') }}"></script>
        <script>
            const classesName = {{ classes_name | tojson | safe }};
            const cacTenHieuHv = {{ cac_ten_hieu_hv | tojson | safe }};
        </script>
        <script src="{{ template_folder }}/script.js"></script>
    </body>
</html>